.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerBackground {
  background-image: url("../assets/Witch's\ Garden.jpg");
  background-size: cover;
}
.banner {
  position: relative;
  padding-top: 30px;
  display: flex;

  justify-content: center;
  top: 0;
  left: 0;
  height: 60vh;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 71%);
}
.title {
  color: white;
}
@font-face {
  font-family: "Enchanted-Land";
  src: local("Enchanted-Land"),
    url("../fonts/Enchanted_Land.ttf") format("truetype");
  font-weight: regular;
}
