.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  position: relative;
  top: 0;
  left: 0;
  height: 60vh;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 71%);
}
