.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerBackground {
  background-image: url("../assets/Ghost Forest-min.jpg");
  background-size: cover;
}
.banner {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 60vh;
  background-color: white;
  clip-path: polygon(0 2%, 100% 15%, 100% 98%, 0 85%);
}
.title {
  color: black;
}
@font-face {
  font-family: "Enchanted-Land";
  src: local("Enchanted-Land"),
    url("../fonts/Enchanted_Land.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: regular;
}
