@import url("https://fonts.cdnfonts.com/css/enchanted-land");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.standScrollable {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.stand {
  padding: 0;
  width: 270px;
  height: 100px;
  box-shadow: 2px 2px 4px gainsboro;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.standInfo {
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(245, 245, 245, 0.5);
}
.standimg1 {
  background-image: url("./assets/jedd-chevrier-4a-sylvan-forest-final-chevrier.jpg");
  background-position-x: 75%;
  background-position-y: bottom;
  background-size: cover;
}
.standimg2 {
  background-image: url("./assets/Dungeons-and-Dragons-Art-and-Arcana-A-Visual-History00-uai-640x360_compresse.jpg");
  background-position-x: 75%;
  background-position-y: bottom;
  background-size: cover;
}
.standimg3 {
  background-image: url("./assets/DND-Acererak-1-1.jpg");
  background-position-x: 75%;
  background-position-y: bottom;
  background-size: cover;
}
.standimg4 {
  background-image: url("./assets/7c096e431371dd15701d84da16d7cb5f.jpg");
  background-position-x: 75%;
  background-position-y: bottom;
  background-size: cover;
}
.standimg5 {
  background-image: url("./assets/sirene.jpg");
  background-position-y: 20%;
  background-size: cover;
}
.standimg6 {
  background-image: url("./assets/Donjons-et-Dragons-5-Aventuriers-au-combat.jpg");
  background-position-y: 50%;
  background-size: cover;
}
.standimg7 {
  background-image: url("./assets/montagne.jpg");
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
}

.jeuimg1 {
  background-image: url("./assets/62-saboteur-la-mine-se-rebelle-cover.jpg");
  background-position-y: 60%;
  background-size: cover;
}
.jeuimg2 {
  background-image: url("./assets/donjon-et-dragon-tiamat.jpg");
  background-position-y: 30%;
  background-size: cover;
}
.jeuimg3 {
  background-image: url("./assets/zombicide.jpg");

  background-size: cover;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
